PORT=3000
GITHUB_WEBHOOK_SECRET=your_github_secret
DEPLOY_SERVER_IP=13.127.51.250
DEPLOY_SERVER_USER=ubuntu
TELEGRAM_BOT_TOKEN=8491746417:AAFrLvuITz7vNQkPYNvOHBUy1MAwtG_88J8
TELEGRAM_CHAT_ID=5498199486